
.caja{
    position: relative;
    display: inline-block;
    opacity: 0.8;
    margin-bottom: 1%;
}

.texto1{
    position: absolute;
    top: 190px;
    left: 75%;
    font-family: Georgia, Times;
    font-size: 30px;
    color:aliceblue;
}

.texto2{
    position: absolute;
    top: 40%;
    right: 10%;
    font-size: 14px;
    color: aliceblue;
    text-align: right;
}

.texto3{
    Position: absolute;
    top: 130%;
    right: 0%;
    font-size: 14px;
    text-align: right
}

.col-md-6{
    background-color: rgb(70, 68, 68);
}

.texto4{
    position: absolute;
    font-family: Georgia, Times;
    font-size: 30px;
    color:aliceblue;
}

.texto5{
    position: absolute;
    top: 235%;
    font-size: 10px;
    color: aliceblue;
}

.texto6{
    padding-top: 2;
    position: absolute;
    top: 250%;    
}

.container{
    margin-top: 3%;
}

.contenido{
   display: flex;
   align-items: center;
   position: absolute;
   right: 140%;
   top: 150%;
   width: 1500px;
   border: 1px dashed black;  
}

.jumbotron{
    margin-top: 3%;
}

.datos{
    margin-left: 10%;
    margin-right: 10%;
}



